<%= form_for(@user) do |f|%>
  <p>
  <%= f.label :username, ("Username") %>
  <%= f.text_field :username, placeholder: "Your username here"  %>
  </p>
  <p>
  <%= f.label :email %>
  <%= f.text_field :email, placeholder: "example@example.com"  %>
  </p>
  <p>
  <%= f.label :password %>
  <%= f.password_field :password %>
  </p>
  <p>
  <%= f.submit %>
  </p>
<% end %>